@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*------------------------------Variables CSS-------------------------------*/
:root{
    --white-color: #fff;
    --dark-color: #222;
    --body-bg-color: #fff;
    --section-bg-color: #202834;
    --navigation-item-hover-color: #3b5378;


    --text-shadow: 0 5px 25px rgba(0,0,0,0.1);
    --box-shadow: 0 5px 25px rgb(0 0 0 / 20%) ;

    --scroll-bar-color: #fff;
    --scroll-thumb-color: #282f4e;
    --scroll-thumb-hover-color: #454f6b;
}


::-webkit-scrollbar{
    width: 11px;
    background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb{
    width: 100%;
    background: var(--scroll-thumb-color);
    border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--scroll-thumb-hover-color);
}


/*------------------------------Main CSS------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: var(--body-bg-color);
    height: 100vh;
	width: 100%;
}

section{
    position: relative;
}

.section{
    color: var(--white-color);
    background: var(--section-bg-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}

header{
    z-index: 999;
    position: fixed;
    width: 100%;
    height: calc(5rem + 1rem);
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: 0.5s ease;
    transition-property: height, background;
}

header.sticky{
    height: calc(2.5rem + 1rem);
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

header .nav-bar{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 200px;
    transition: 0.3s ease;
}
.nav-close-btn, .nav-menu-btn {
    display: none;
}

.nav-bar .logo{
    color: var(--white-color);
    font-size: 1.8em;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a{
    color: var(--white-color);
    font-size: 1em;
    text-decoration: none;
    text-shadow: var(--text-shadow);
}

.navigation .nav-items a i{
    display: none;
}

.navigation .nav-items a:not(:last-child){
    margin-right: 45px;
}

@media screen and (max-width: 1100px) {
    header .nav-bar {
        padding: 0 50px;
    }

    .section {
        padding: 25px 50px;
    }

    .swiper-slide .text-content {
        margin: 0 120px 0 50px;
    }

    .bg-slider-thumbs {
        bottom: 3em;
    }
}

@media screen and (max-width: 710px) {

    header .nav-bar {
        padding: 25px 20px;
    }

    .section {
        padding: 25px 20px;
    }

    .swiper-slide .text-content {
        margin: 0 70px 0 20px;
    }

    .swiper-slide .text-content .title {
        font-size: 3em;
    }

    .swiper-slide .text-content .title span {
        font-size: 0.30em;
    }

    .bg-slider-thumbs {
        left: 40%;
    }

    .swiper-slide .text-content .title p {
        font-size: 0.8em;
    }

    .swiper-slide .text-content .read-btn {
        font-size: 0.9em;
        padding: 5px 15px;
    }

    .nav-menu-btn {
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
    }

    .nav-close-btn {
        display: block;
        color: var(--dark-shadow);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transform: 0.3s ease;
    }

    .navigation .nav-items {
        position: relative;
        background: var(--white-color);
        width: 400px;
        max-width: 400px;
        display: grid;
        place-content: center;
        margin: 20px;
        padding: 40px;
        border-radius: 20px;
        box-shadow: var(--box-shadow);
        transform: translateY(-200px);
        transition: 0.3s ease;
    }

    .navigation.active {
        visibility: visible;
        opacity: 1;
    }

    .navigation.active .nav-items {
        transform: translateY(0);
    }

    .navigation .nav-items a {
        color: var(--dark-color);
        font-size: 1em;
        margin: 15px 50px;
        transition: 0.3s ease;
    }

    .navigation.active .nav-items a:hover {
        color: var(--navigation-item-hover-color);
    }

    .navigation .nav-items a i {
        display: inline-block;
        font-size: 1.3em;
        margin-right: 5px;
    }
    .about h2{
        font-size: 2.5em;
        font-weight: 600;
    }
    .about p{
        font-size: 0.9em;
    }
}

footer {
    background-color: var(--dark-color);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilos para los íconos de redes sociales en el footer */
.media-icons {
    margin-top: 20px;
}

.media-icons a {
    margin: 0 10px;
    color: #fff; /* Color blanco para los íconos */
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.media-icons p{
    font-size: 1em;
    font-weight: 400;
    margin-bottom: 5px;
}

.media-icons a .uil-facebook:hover {
    color: #1877F2; /* Cambia de color al pasar el mouse */
}

.media-icons a .uil-instagram:hover {
    color: #E4405F; /* Cambia de color al pasar el mouse */
}

.media-icons a .uil-twitter:hover {
    color: #1DA1F2; /* Cambia de color al pasar el mouse */
}

.media-icons a .uil-whatsapp:hover {
    color: #25D366; /* Cambia de color al pasar el mouse */
}


.about h2{
    font-size: 3em;
    font-weight: 600;
}

.about p{
    margin: 25px 0;
}