@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --white-color: #fff;
  --dark-color: #222;
  --body-bg-color: #fff;
  --section-bg-color: #202834;
  --navigation-item-hover-color: #3b5378;
  --text-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);
  --box-shadow: 0 5px 25px rgb(0 0 0 / 20%);
  --scroll-bar-color: #fff;
  --scroll-thumb-color: #282f4e;
  --scroll-thumb-hover-color: #454f6b;
  --lg-font: "Kaisei Tokumin", serif;
  --sm-font: "Poppins", sans-serif;
  --pink: #e5345b;
}

::-webkit-scrollbar {
  width: 11px;
  background: var(--scroll-bar-color);
}

::-webkit-scrollbar-thumb {
  width: 100%;
  background: var(--scroll-thumb-color);
  border-radius: 2em;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-thumb-hover-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: var(--body-bg-color);
  height: 100vh;
  width: 100%;
}

section {
  position: relative;
}

.section {
  color: var(--dark-color);
  background: var(--white-color);
  padding: 35px 200px;
  transition: 0.3s ease;
}

header {
  z-index: 999;
  position: fixed;
  width: 100%;
  height: 6rem;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  transition: 0.5s ease;
  transition-property: height, background;
}
header.sticky {
  height: 3.5rem;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
header .nav-bar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 200px;
  transition: 0.3s ease;
}

.nav-close-btn,
.nav-menu-btn {
  display: none;
}

.nav-bar .logo {
  color: var(--white-color);
  font-size: 1.8em;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}

.navigation .nav-items a {
  color: var(--white-color);
  font-size: 1em;
  text-decoration: none;
  text-shadow: var(--text-shadow);
}
.navigation .nav-items a i {
  display: none;
}
.navigation .nav-items a:not(:last-child) {
  margin-right: 45px;
}

.swiper-slide .text-content .title2 {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  left: 75%;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title2 {
  transform: translateY(0);
  position: relative;
  left: 75%;
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title2 span {
  font-size: 0.3em;
  font-weight: 300;
}
.swiper-slide .text-content .p2 {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  position: relative;
  left: 67%;
  transform: translateY(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content .p2 {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn2 {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  left: 100%;
  transform: translateX(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn2 {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.6s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn2 i {
  font-size: 1.6em;
  transition: 0.3s ease;
}
.swiper-slide .text-content .read-btn2:hover i {
  transform: translateX(5px);
}

.btn2:not(.nav-btns button) {
  background-color: #fff;
  color: rgb(85, 85, 85);
  padding: 10px 28px;
  border-radius: 25px;
  border: 1px solid rgb(85, 85, 85);
}
.btn2:not(.nav-btns button):hover {
  background-color: #1c8f4c;
  color: #fff;
  border-color: var(--dark-color);
}

.active-filter-btn2 {
  background-color: #1c8f4c;
  color: #fff;
  border-color: #1c8f4c;
}

.filter-button-group .btn2:hover {
  color: #fff;
}

.collection-img span {
  top: 20px;
  right: 20px;
  width: 75px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
}

.text-success {
  color: #1c8f4c;
}

.container3 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 220px 0;
}
.container3:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../img/img1.jpg") no-repeat center;
  background-size: cover;
  filter: blur(50px);
  z-index: -1;
}

.contact-box {
  max-width: 850px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.container3:hover .contact-box {
  opacity: 1;
  transform: translateX(0);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
}

.left {
  background: url("../img/img1.jpg") no-repeat center;
  background-size: cover;
  height: 100%;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}
h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #1c8f4c;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: 0.3s;
}
.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

textarea {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: #1c8f4c;
  color: #fff;
  font-size: 1.1rem;
  border: 1px solid rgb(0, 0, 0);
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  background-color: #27ae60;
  border: 1px solid rgb(0, 0, 0);
}

.field:focus {
  border: 2px solid rgba(30, 85, 250, 0.47);
  background-color: #fff;
}

footer {
  background-color: var(--dark-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

/* Estilos para los íconos de redes sociales en el footer */
.media-icons {
  margin-top: 20px;
}
.media-icons a {
  margin: 0 10px;
  color: #fff;
  /* Color blanco para los íconos */
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.media-icons p {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 5px;
}
.media-icons a .uil-facebook:hover {
  color: #1877F2;
  /* Cambia de color al pasar el mouse */
}
.media-icons a .uil-instagram:hover {
  color: #E4405F;
  /* Cambia de color al pasar el mouse */
}
.media-icons a .uil-twitter:hover {
  color: #1DA1F2;
  /* Cambia de color al pasar el mouse */
}
.media-icons a .uil-whatsapp:hover {
  color: #25D366;
  /* Cambia de color al pasar el mouse */
}

.about h2 {
  font-size: 3em;
  font-weight: 600;
}
.about p {
  margin: 25px 0;
}

@media screen and (max-width: 1300px) {
  header .nav-bar {
    padding: 0 50px;
  }
  .section {
    padding: 25px 50px;
  }
  .swiper-slide .text-content {
    margin: 0 120px 0 50px;
  }
  .bg-slider-thumbs {
    bottom: 3em;
  }
}
@media screen and (max-width: 710px) {
  header .nav-bar,
  .section {
    padding: 25px 20px;
  }
  .swiper-slide .text-content {
    margin: 0 70px 0 20px;
  }
  .swiper-slide .text-content .title {
    font-size: 3em;
  }
  .swiper-slide .text-content .title span {
    font-size: 0.3em;
  }
  .bg-slider-thumbs {
    left: 40%;
  }
  .swiper-slide .text-content .title p {
    font-size: 0.8em;
  }
  .swiper-slide .text-content .read-btn,
  .swiper-slide .text-content .read-btn2 {
    font-size: 0.9em;
    padding: 5px 15px;
  }
  .nav-menu-btn {
    display: block;
    color: var(--white-color);
    font-size: 1.5em;
  }
  .nav-close-btn {
    display: block;
    color: var(--dark-shadow);
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.3em;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .navigation {
    z-index: 99999;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: 0.3s ease;
  }
  .navigation .nav-items {
    position: relative;
    background: var(--white-color);
    width: 400px;
    max-width: 400px;
    display: grid;
    place-content: center;
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    transform: translateY(-200px);
    transition: 0.3s ease;
  }
  .navigation.active {
    visibility: visible;
    opacity: 1;
  }
  .navigation.active .nav-items {
    transform: translateY(0);
  }
  .navigation .nav-items a {
    color: var(--dark-color);
    font-size: 1em;
    margin: 15px 50px;
    transition: 0.3s ease;
  }
  .navigation.active .nav-items a:hover {
    color: var(--navigation-item-hover-color);
  }
  .navigation .nav-items a i {
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
  }
  .about h2 {
    font-size: 2.5em;
    font-weight: 600;
  }
  .about p {
    font-size: 0.9em;
  }
}
.home {
  min-height: 100vh;
}
.home:before {
  z-index: 888;
  content: "";
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
  background: linear-gradient(transparent, var(--body-bg-color));
}

.bg-slider {
  z-index: 777;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.bg-slider .swiper-slide {
  position: relative;
  width: 100%;
  height: 100vh;
}
.bg-slider .swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  pointer-events: none;
}

.swiper-slide .text-content {
  position: absolute;
  top: 25%;
  color: rgb(255, 255, 255);
  margin: 0 200px;
  transition: 0.3s ease;
}
.swiper-slide .text-content .title {
  font-size: 4em;
  font-weight: 700;
  text-shadow: var(--text-shadow);
  margin-bottom: 20px;
  transform: translateY(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .title {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .title span {
  font-size: 0.3em;
  font-weight: 300;
}
.swiper-slide .text-content p {
  max-width: 700px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  text-shadow: var(--text-shadow);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
  transform: translateY(-80px);
  opacity: 0;
}

.swiper-slide-active .text-content p {
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.3s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
  border: none;
  outline: none;
  background: var(--white-color);
  color: var(--dark-color);
  font-size: 1em;
  font-weight: 500;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  margin-top: 40px;
  border-radius: 10px;
  cursor: pointer;
  transform: translateX(-50px);
  opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
  transform: translateX(0);
  opacity: 1;
  transition: 1s ease;
  transition-delay: 0.6s;
  transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn i {
  font-size: 1.6em;
  transition: 0.3s ease;
}
.swiper-slide .text-content .read-btn:hover i {
  transform: translateX(5px);
}

.dark-layer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.bg-slider-thumbs {
  z-index: 777;
  position: absolute;
  bottom: 7em;
  left: 50%;
  transform: translateX(-50px);
  transition: 0.3s ease;
}

.thumbs-container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 10px 3px;
  border-radius: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: var(--box-shadow);
}
.thumbs-container img {
  width: 50px;
  height: 35px;
  margin: 0 5px;
  border-radius: 5px;
  cursor: pointer;
}

.swiper-slide-thumb-active {
  border: 1px solid var(--white-color);
}

/*# sourceMappingURL=StylesMain.css.map */
