.swiper-slide .text-content .title2 {
    font-size: 4em;
    font-weight: 700;
    text-shadow: var(--text-shadow);
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
    left: 75%;
    transform: translateY(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .title2 {
    transform: translateY(0);
    position: relative;
    left: 75%;
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content {
    .title2 span {
        font-size: 0.3em;
        font-weight: 300;
    }

    .p2 {
        max-width: 700px;
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-shadow: var(--text-shadow);
        padding: 20px;
        border-radius: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: var(--box-shadow);
        position: relative;
        left: 67%;
        transform: translateY(-80px);
        opacity: 0;
    }
}

.swiper-slide-active .text-content .p2 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn2 {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-size: 1em;
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    left: 100%;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn2 {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn2 {
    i {
        font-size: 1.6em;
        transition: 0.3s ease;
    }

    &:hover i {
        transform: translateX(5px);
    }
}

.btn2:not(.nav-btns button) {
    background-color: #fff;
    color: rgb(85, 85, 85);
    padding: 10px 28px;
    border-radius: 25px;
    border: 1px solid rgb(85, 85, 85);

    &:hover {
        background-color: #1c8f4c;
        color: #fff;
        border-color: var(--dark-color);
    }
}

.active-filter-btn2 {
    background-color: #1c8f4c;
    color: #fff;
    border-color: #1c8f4c;
}

.filter-button-group .btn2:hover {
    color: #fff;
}

.collection-img span {
    top: 20px;
    right: 20px;
    width: 75px;
    height: 60px;
    border-radius: 50%;
    color: #fff;
}

.text-success {
    color: #1c8f4c;
}