* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--body-bg-color);
    height: 100vh;
    width: 100%;
}

section {
    position: relative;
}

.section {
    color: var(--dark-color);
    background: var(--white-color);
    padding: 35px 200px;
    transition: 0.3s ease;
}