.home {
    min-height: 100vh;

    &:before {
        z-index: 888;
        content: '';
        position: absolute;
        width: 100%;
        height: 50px;
        bottom: 0;
        left: 0;
    }
}

.bg-slider {
    z-index: 777;
    position: relative;
    width: 100%;
    min-height: 100vh;

    .swiper-slide {
        position: relative;
        width: 100%;
        height: 100vh;

        img {
            width: 100%;
            height: 100vh;
            object-fit: cover;
            background-position: center;
            background-size: cover;
            pointer-events: none;
        }
    }
}

.swiper-slide .text-content {
    position: absolute;
    top: 25%;
    color: rgb(255, 255, 255);
    transition: 0.3s ease;

    .title {
        font-weight: 700;
        text-shadow: var(--text-shadow);
        margin-bottom: 20px;
        transform: translateY(-50px);
        opacity: 0;
    }
}

.swiper-slide-active .text-content .title {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content {
    .title span {
        font-size: 0.3em;
        font-weight: 300;
    }

    p {
        background: rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        text-shadow: var(--text-shadow);
        padding: 20px;
        border-radius: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-right: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: var(--box-shadow);
        transform: translateY(-80px);
        opacity: 0;
    }
}

.swiper-slide-active .text-content p {
    transform: translateY(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.3s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
    border: none;
    outline: none;
    background: var(--white-color);
    color: var(--dark-color);
    font-weight: 500;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    border-radius: 10px;
    cursor: pointer;
    transform: translateX(-50px);
    opacity: 0;
}

.swiper-slide-active .text-content .read-btn {
    transform: translateX(0);
    opacity: 1;
    transition: 1s ease;
    transition-delay: 0.6s;
    transition-property: transform, opacity;
}

.swiper-slide .text-content .read-btn {
    i {
        font-size: 1.6em;
        transition: 0.3s ease;
    }

    &:hover i {
        transform: translateX(5px);
    }
}

.dark-layer:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
}

.bg-slider-thumbs {
    z-index: 777;
    position: absolute;
    bottom: 7em;
    transform: translateX(-50px);
    transition: 0.3s ease;
}

.thumbs-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 10px 3px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-right: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);

    img {
        width: 50px;
        height: 35px;
        margin: 0 5px;
        border-radius: 5px;
        cursor: pointer;
    }
}

.swiper-slide-thumb-active {
    border: 1px solid var(--white-color);
}