.location{
	position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 220px 0;

	&:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: url("../img/img11.jpg") no-repeat center;
        background-size: cover;
        z-index: -1;
	}
}

.contact-in
{
	width: 80%;
	height: auto;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	padding: 10px;
	border-radius: 10px;
	background: #fff;
	box-shadow: 0px 0px 10px 0px #666;
}

.contact-map
{
	width: 100%;
	height: auto;
	flex: 50%;
}
.contact-map iframe
{
	width: 100%;
	height: 100%;
}
.contact-form
{
	width: 100%;
	height: auto;
	flex: 50%;
	padding: 30px;
	text-align: center;
}
.contact-form h1
{
	margin-bottom: 10px;
}

.contact-form-txt
{
	width: 100%;
	height: 40px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 50px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
}
.contact-form-txt::placeholder
{
	color: #aaa;
}
.contact-form-textarea
{
	width: 100%;
	height: 130px;
	color: #000;
	border: 1px solid #bcbcbc;
	border-radius: 10px;
	outline: none;
	margin-bottom: 20px;
	padding: 15px;
	font-family: 'Poppins', sans-serif;
}
.contact-form-textarea::placeholder
{
	color: #aaa;
}
