.swiper-slide .text-content {
    margin: 0 200px;
}

.swiper-slide .text-content .title {
    font-size: 4em;
}

.swiper-slide .text-content p {
    max-width: 700px;
}

.swiper-slide .text-content .read-btn {
    font-size: 1em;
}

.bg-slider-thumbs {
    left: 50%;
}


@media screen and (max-width: 1700px){
    .about-content {
        margin: 0 100px;
    }

    .about-content .title3 {
        left: 29%;
    }

    .about-content .p3 {
        left: 29%;
    }

    .about-content .read-btn3 {
        left: 70%;
    }
}
    

@media screen and (max-width: 1500px) {

    .swiper-slide-active .text-content2 .title2 {
        left: 40%;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 3.5em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 31%;
    }

    .swiper-slide .text-content2 .read-btn2 {
        left: 65%;
    }
    
    .about-content .title3 {
        left: 15%;
    }

    .about-content .p3 {
        left: 15%;
    }

    .about-content .read-btn3 {
        left: 55%;
    }

    .section {
        padding: 35px 100px;
    }

}


@media screen and (max-width: 1300px) {
    header .nav-bar {
        padding: 0 50px;
    }

    .section {
        padding: 25px 50px;
    }

    .swiper-slide .text-content {
        margin: 0 120px 0 50px;
    }

    .swiper-slide .text-content2 {
        margin: 0 120px 0 50px;
    }

    .bg-slider-thumbs {
        bottom: 3em;
    }

    .about-content .title3 {
        left: 7%;
    }

    .about-content .p3 {
        left: 6%;
    }

    .about-content .read-btn3 {
        left: 45%;
    }
}
@media screen and (max-width: 1200px) {
    .about-content .title3 {
        left: 9%;
        font-size: 3em;
    }

    .about-content .p3 {
        left: 8%;
        max-width: 800px;
    }

    .about-content .read-btn3 {
        left: 50%;
    }
}

@media screen and (max-width: 1150px) {

    .swiper-slide-active .text-content2 .title2 {
        left: 20%;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 3.2em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 10%;
    }

    .swiper-slide .text-content2 .read-btn2 {
        left: 43%;
    }
    
    .about-content2 .about-text p {
        font-size: 15px;
    }

    .about-text img {
        max-width: 30%;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 15px;
    }

    .about-text2 img {
        max-width: 30%;
    }

}

@media screen and (max-width: 1000px) {
    
    .about-content .title3 {
        left: 8%;
        font-size: 2.5em;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 7%;
        max-width: 700px;
    }

    .about-content .read-btn3 {
        left: 45%;
        font-size: 0.9em;
    }

    .about-content2 .about-text p {
        font-size: 13px;
        padding-right: 22px;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 13px;
        padding-left: 22px;
    }

    .about-text img {
        max-width: 28%;
    }

    .about-text2 img {
        max-width: 28%;
    }
}

@media screen and (max-width: 920px) {

    .swiper-slide-active .text-content2 .title2 {
        left: 9%;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 3em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 1%;
        font-size: 1em;
    }

    .swiper-slide .text-content2 .read-btn2 {
        left: 28%;
        font-size: 1em;
    }

    .about-content {
        margin: 0 50px 0 20px;
    }

    .about-content .title3 {
        left: 13%;
        font-size: 2.5em;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 11%;
        max-width: 700px;
    }

    .about-content .read-btn3 {
        left: 50%;
        font-size: 0.9em;
    }

    .about-content2 .about-text {
        flex-wrap: wrap;
        height: 350px;
        align-content: space-between;
        margin: 0 20px 0 20px;
    }

    .about-content2 .about-text p {
        font-size: 15px;
        padding-right: 22px;
    }

    .about-content2 .about-text2 {
        flex-wrap: wrap-reverse;
        height: 350px;
        align-content: space-between;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 15px;
        padding-right: 22px;
    }
}

@media screen and (max-width: 830px) {
    .about-content2 .about-text p {
        font-size: 14px;
        padding-right: 15px;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 14px;
        padding-right: 15px;
    }
}


@media screen and (max-width: 800px) {
    
    .swiper-slide .text-content {
        margin: 0 100px;
    }

    header .nav-bar,
    .section {
        padding: 25px 20px;
    }

    .swiper-slide .text-content {
        margin: 0 70px 0 20px;

        .title {
            font-size: 3em;

            span {
                font-size: 0.30em;
            }
        }
    }

    .bg-slider-thumbs {
        left: 40%;
    }

    .swiper-slide .text-content {
        .title p {
            font-size: 0.8em;
        }

        .read-btn {
            font-size: 0.8em;
            padding: 5px 15px;
        }
    }

    .nav-menu-btn {
        display: block;
        color: var(--white-color);
        font-size: 1.5em;
    }

    .nav-close-btn {
        display: block;
        color: var(--dark-shadow);
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.3em;
        margin: 10px;
        cursor: pointer;
        transition: 0.3s ease;
    }

    .navigation {
        z-index: 99999;
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.25);
        display: flex;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        transform: 0.3s ease;

        .nav-items {
            position: relative;
            background: var(--white-color);
            width: 400px;
            max-width: 400px;
            display: grid;
            place-content: center;
            margin: 20px;
            padding: 40px;
            border-radius: 20px;
            box-shadow: var(--box-shadow);
            transform: translateY(-200px);
            transition: 0.3s ease;
        }

        &.active {
            visibility: visible;
            opacity: 1;

            .nav-items {
                transform: translateY(0);
            }
        }

        .nav-items a {
            color: var(--dark-color);
            font-size: 1em;
            margin: 15px 50px;
            transition: 0.3s ease;
        }

        &.active .nav-items a:hover {
            color: var(--navigation-item-hover-color);
        }

        .nav-items a i {
            display: inline-block;
            font-size: 1.3em;
            margin-right: 5px;
        }
    }

    .about {
        h2 {
            font-size: 2.5em;
            font-weight: 600;
        }

        p {
            font-size: 0.9em;
        }
    }

    .swiper-slide-active .text-content2 .title2 {
        left: 9%;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 3em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 1%;
        font-size: 1em;
    }

    .swiper-slide .text-content2 .read-btn2 {
        left: 28%;
        font-size: 1em;
    }

    .contact-box{
        grid-template-columns: 1fr;
    }

    .left{
        height: 150px;
    }

    .about-content .title3 {
        left: 18%;
        font-size: 2em;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 17%;
        max-width: 550px;
    }

    .about h2 {
        font-size: 1.5em;
        font-weight: 600;
    }

}

@media screen and (max-width: 690px) {


    .swiper-slide .text-content2 {
        margin: 0 50px;
    }

    .swiper-slide-active .text-content2 .title2 {
        left: 0%;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 3em;
    }

    .swiper-slide .text-content2 .title2 span {
        font-size: 0.3em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 0%;
        font-size: 1em;
    }

    .swiper-slide .text-content2 .read-btn2 {
        font-size: 1em;
        left: 20%;
    }

    .swiper-slide .text-content .title {
        font-size: 3em;
    }

    .swiper-slide .text-content p {
        font-size: 1em;
        max-width: 520px;
    }

    .swiper-slide .text-content .read-btn {
        font-size: 0.8em;
    }

    .about-content .title3 {
        left: 13%;
        font-size: 2em;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 12%;
        max-width: 500px;
    }

    .about-content .read-btn3 {
        left: 45%;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 600px) {
    .about-content .title3 {
        left: 5%;
        font-size: 1.9em;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 14%;
        max-width: 400px;
    }

    .about-content .read-btn3 {
        left: 35%;
        font-size: 0.8em;
    }

    .about-content2 .about-text p {
        font-size: 13px;
        padding-right: 15px;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 13px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 570px) {

    .swiper-slide .text-content2 {
        margin: 0 50px;
    }

    .swiper-slide .text-content2 .title2 {
        font-size: 2em;
    }

    .swiper-slide .text-content2 .title2 span {
        font-size: 0.4em;
    }

    .swiper-slide .text-content2 .p2 {
        left: 0%;
        font-size: 1em;
        padding: 10px;
    }

    .swiper-slide .text-content2 .read-btn2 {
        font-size: 0.7em;
        left: 17%;
    }

}

@media screen and (max-width: 525px) {


    .swiper-slide .text-content .title {
        font-size: 2.5em;
    }

    .swiper-slide .text-content p {
        font-size: 1em;
        max-width: 400px;
    }

    .bg-slider-thumbs {
        left: 33%;
    }

    .contact-in {
        margin: 0;
    }

    .about-content .p3 {
        font-size: 0.8em;
        left: 5%;
        max-width: 400px;
    }

    .about-content .read-btn3 {
        left: 30%;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 485px) {
    .about-content2 .about-text p {
        font-size: 12px;
        padding-right: 15px;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 12px;
        padding-right: 15px;
    }
}
@media screen and (max-width: 405px) {
    .about-content2 .about-text p {
        font-size: 11.8px;
        padding-right: 10px;
    }

    .about-content2 .about-text2 .p2 {
        font-size: 11.7px;
        padding-right: 10px;
    }

    .about-content .read-btn3 {
        left: 25%;
        font-size: 0.8em;
    }
}

@media screen and (max-width: 390px) {
    .swiper-slide .text-content2 .read-btn2 {
        font-size: 0.7em;
        left: 19%;
    }

}